################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProblemSolve/v15
/.vs/AdvancedCSharpConcepts/v15/Server/sqlite3
